<div class="header" role="banner">
  <span>Data binding</span>
</div>
<div class="content" role="main">
  <div class="select-container">
    <div>Select the Programming Language</div>
    <select (change)='languageSelect($event)'>
      <option value="" style="display: none;"></option>
      <option *ngFor="let eachLanguage of programSource; let i=index" [attr.value]="i">{{eachLanguage.text}}</option>
    </select>
  </div>
  <img *ngIf="loadUrl!=''" src="{{loadUrl}}">

</div>
<router-outlet></router-outlet>